* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --bg-url: url("./assets/bg-mobile.jpg");
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url("./assets/moon-stars.svg");
}

.light {
  --text-color: #000000;
  --bg-url: url("./assets/bg-mobile-light.jpg");
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url("./assets/sun.svg");
}

html {
  overflow-x: hidden;
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  position: relative;
}

/* Scroll text */
.div-scroll {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 300px;
  margin: auto;
  z-index: -1;
  top: 0;
  left: 0;
}
.div-scroll__text {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transform: scale(1);
  transition: all 1s ease;
}
.div-scroll__text > div {
  display: flex;
  -webkit-animation: scrollText 90s infinite linear;
  animation: scrollText 90s infinite linear;
}
.div-scroll__text h1 {
  margin: 0;
  font-size: 288px;
  color: #ffffff52;
  transition: all 2s ease;
}
.div-scroll__text a {
  text-decoration: none;
  color: white;
}
.div-scroll__text a:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
/*div:hover {
  animation-play-state: paused;
}*/
@-webkit-keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Container */
#container {
  width: 100%;
  max-width: 370px;
  margin: 56px auto 0px;
  padding: 0 15px;
}

/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile .img-profile {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  background: rgb(0, 4, 255);
  background: linear-gradient(
    225deg,
    rgba(0, 4, 255, 1) 0%,
    rgba(0, 1, 57, 1) 100%
  );
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: #ffffff var(--switch-bg-url) no-repeat center;
  border: none;
  border-radius: 50%;
  animation: slide-back 0.3s forwards;
  transition: outline 0.3s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.3s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  height: 84px;
  background-color: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
}

ul li a::before {
  content: "";
  background-color: #404fff;
  position: absolute;
  top: 0;
  left: calc(100% - 84px);
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: scaleX(1);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(1, 0, 0.36, 1);
}

ul li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 460px;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #301dc8;
  transition: all 0.6s cubic-bezier(1, 0, 0.36, 1);
}

ul li a:hover {
  background-color: var(--surface-color-hover);
}

ul li a:hover::before {
  transform: scaleY(1);
  left: 0;
}

ul li a:hover::after {
  left: calc(100% - 84px);
}

ul li a span {
  position: relative;
  line-height: 84px;
}

ul li a .btn-arrow {
  margin-left: 64px;
  position: relative;
  transition: all 0.3s ease;
  margin-bottom: -4px;
}

/* Socials */
#social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.3s;
}

#social-links a:hover {
  background-color: var(--highlight-color);
}

/* Footer */
footer {
  padding-bottom: 24px;
  text-align: center;
}

footer .btn-email {
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 16px;
  background-color: transparent;
  border: 1px solid #23262d;
  height: 62px;
}

footer .btn-email span {
  font-size: 14px;
  line-height: 62px;
}

footer .btn-email .btn-copy {
  margin-left: 8px;
}

footer .btn-email::before {
  content: "";
  position: absolute;
  background-color: #23262d;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all 0.6s cubic-bezier(1, 0, 0.36, 1);
  transform: scaleY(0);
  transform-origin: bottom;
}

footer .btn-email:hover::before {
  transform: scaleY(1);
}

/* Media Queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url("./assets/bg-desktop.jpg");
  }
  .light {
    --bg-url: url("./assets/bg-desktop-light.jpg");
  }
}

/* Animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
